<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Project Test Suite" preserve-order="true">
    <test name="Selenium page-object tests">
        <packages>
            <package name="TestPages"/>
        </packages>
    </test>
    <test name="Cucumber features">
        <classes>
            <class name="Runner.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
